@import "tailwindcss";

/* Custom smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #6d6c6e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}